.history-card-container {
  max-height: 100px;
  min-width: 100%;
  border: none;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
}

.history-card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  .text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100px;
    width: 100%;
    padding: 12px min(60px, 3vw);
    overflow: hidden;
    .quest-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-right: min(20px, 3vw);
      width: fit-content;
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 4px;
        font-size: min(2.2vw, 29px);
        white-space: nowrap;
        overflow: hidden;
      }

      .quest-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: min(25vw, 380px);
        margin-right: 25px;

        p {
          font-weight: 550;
          font-size: min(1.2vw, 16px);
        }

        button {
          padding: 0px;
        }
        .author {
          background: none;
          box-shadow: none;
          color: black;

          &:hover {
            color: #8e2de2;
          }
        }
      }
    }

    .quest-progress {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: fit-content;
      min-height: 100%;

      h3 {
        font-size: min(1.8vw, 25px);
        font-weight: 500;
        white-space: nowrap;
      }
      p {
        margin-top: 8px;
        font-size: min(1.3vw, 16px);
        font-weight: 500;
        margin-bottom: 4px;
        white-space: nowrap;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    min-width: 100px;
    height: fit-content;
    img {
      width: 100%;
      height: 100px;
      border-radius: 0px 8px 8px 0px;
      object-fit: cover;
    }
  }

  .delete-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
    transition: color 0.2s ease-in-out;
    background-color: transparent;
    transition: ease-in-out 0.2s;

    &:hover {
      background-color: #ff5656;
      border-radius: 50%;
    }
  }
}

.delete-icon {
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s,
    background-color 0.1s;
}

.history-card-container:hover .delete-icon {
  opacity: 1;
  pointer-events: auto;
}
