.profile {
  &__text {
    margin: 25px 15px;
    font-size: 20px;
  }

  &__block {
    background-color: 
    #de8ba6;
    border-radius: 20px;
    margin: 0 10px 10px 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }

  &__photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__rating_stars {
    margin-bottom: 5px;
  }

  &__name {
    font-size: 25px;
    font-weight: bold;
  }

  &__biography {
    font-size: 15px;
    text-align: left;
    max-width: 100%;
    margin: 0 10px;
  }
}
