.rating-form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0 50px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 45px 15px 0px 15px;
    min-width: 800px;

    textarea {
      resize: none;
      width: 100%;
      padding: 12px 15px;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 25px;
      background-color: white;
      outline: none;
      transition: 0.3s ease-in-out;

      &::placeholder {
        color: gray;
        font-weight: 500;
      }

      &:focus {
        border-color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__top-text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__result-info,
  &__rating-form {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }

  textarea {
    margin: 15px;
    height: 200px;
  }

  .submit-button {
    background-color: #d63964;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px;
    margin-bottom: 40px;
    display: block;

    &:hover {
      background-color: #a02a4a;
    }
  }

  .parent-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}
