.quests__rating {
    display: flex;
    align-items: center;
  }
  
  .star-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
  
  .star-bg,
  .star-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ccc; // Цвет фона звездочки
  }
  
  .star-fill {
    color: #ff0; // Цвет заполненной части звездочки
  }