$lightgray: #e5e5e5;
$darker-gray: #c5c5c5;
$white: #ffffff;
$black: #000000;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest-section {
  padding: 0 5vw;
  .quests {
    padding: 20px;

    &__header {
      text-align: center;
      img {
        width: 70px;
      }
    }

    &__cards {
      background-color: $lightgray;
      margin-bottom: 5vh;
      border-radius: 15px;
      padding: 20px;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-container {
        @include flex-center;
        gap: 5px;
      }

      &-icon {
        display: flex;
        align-items: center;
      }

      &-tabs {
        display: flex;
        .button,
        .button-active {
          background-color: inherit;
          border: none;
          cursor: pointer;
          transition: 0.3s;
          margin-right: 25px;
          padding: 5px;
          border-radius: 5px;
        }
        .button-active,
        .button:hover {
          background-color: $darker-gray;
        }
      }

      &-search {
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        border-radius: 20px;
        padding: 10px;
        margin: 10px 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 5px;
          display: flex;
          align-items: center;
        }
      }

      &-input {
        width: 100%;
        height: 30px;
        border: none;
        background: transparent;
        outline: none;
        flex: 1;
        padding: 5px;
        font-size: 16px;
      }
    }

    &__divider {
      width: 100%;
      height: 2px;
      background-color: $black;
      margin: 10px 0;
      border: none;
    }
  }
}
