@use "../../palette" as *;

$lightgray: #e5e5e5;
$darker-gray: #c5c5c5;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest-section {
  padding: 0 5vw;
  .quests {
    padding: 20px;

    &__header {
      text-align: center;
      img {
        width: 70px;
        color: #7f2ec7;
      }
      h1 {
        font-size: 2rem;
        font-weight: bold;
        background: linear-gradient(
          90deg,
          #432a82 25%,
          #4800ff 33%,
          #990099 70%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }

    &__cards {
      background: linear-gradient(
        180deg,
        #3f21a1 0%,
        #7f2ec7 30%,
        #883abf 40%,
        #8a49b6 50%,
        #8a3cbe 60%,
        #7f2ec7 70%,
        #3f21a1 100%
      );
      margin: 5vh 0;
      border-radius: 15px;
      padding: 20px;
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          color: white;
          font-size: 19px;
          font-weight: 600;
        }

        button {
          color: $honey;
          background-color: #ffffff53;
          font-size: 18px;

          .quests__cards-title {
            font-size: 17px;
            font-weight: 500;
          }
        }
      }

      &-container {
        @include flex-center;
        gap: 5px;
      }

      &-icon {
        display: flex;
        align-items: center;
      }

      &-tabs {
        display: flex;
        .button,
        .button-active {
          font-size: 14px;
          background-color: inherit;
          border: none;
          cursor: pointer;
          transition: 0.3s;
          margin-right: 25px;
          padding: 5px;
          border-radius: 5px;
          box-shadow: none;
        }
        .button-active,
        .button:hover {
          background-color: #ffffff53;
          color: $honey;
        }
      }

      &-search {
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        border-radius: 15px;
        padding: 10px;
        margin: 10px 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 5px;
          display: flex;
          align-items: center;
          box-shadow: none;

          svg {
            color: #7f2ec7;
          }
        }
      }

      &-input {
        width: 100%;
        height: 30px;
        border: none;
        background: transparent;
        outline: none;
        flex: 1;
        padding: 5px;
        font-size: 16px;
      }
    }

    &__divider {
      width: 100%;
      height: 1px;
      background-color: $lightgray;
      margin: 10px 0;
      border: none;
    }

    &__content {
      display: flex;
      justify-content: center;
      padding: 20px;
      p {
        color: white;
      }
    }
  }
}
