$lightgray: #e5e5e5;
$darker-gray: #c5c5c5;

$honey: #ffcc00;

$light-blue: #3586ff;

$light-purple: #8E2DE2;
$soft-purple: #6A5ACD;
$blue-purple: #4a00e0;
$white-purple: #bbb6d5;
$dark-purple: #482E86;
$cream-purple: #A59BD9;

$primary-color: #c8c7c7;
$secondary-color: #7b7b7b;

