$primary-color: #c8c7c7;
$secondary-color: #7b7b7b;
$honey: #ffcc00;
$light-purple: #bbb6d5;
$purple: #8e2de2;
$soft-purple: #6a5acd;
$blue-purple: #4a00e0;
$dark-purple: #482e86;

.answer-group {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  input {
    min-height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #ffffffb8;
    transition: 0s ease-in-out;

    &:focus {
      border: 1px solid #ffffffb8;
      border-radius: 5px;
    }
  }

  .check-box {
    width: fit-content;
    height: fit-content;
    margin: 10px 15px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    cursor: pointer;

    .icon {
      width: 25px;
      height: 25px;
      padding: 0px;
      margin-left: 5px;
      color: white;
      background-color: transparent;
    }

    .correct {
      color: $honey;
    }

    &:hover {
      .icon {
        color: $honey;
      }
    }
  }

  .cancel-icon {
    margin-left: 10px;
    border-radius: 50%;
    color: $light-purple;
    cursor: pointer;
    width: 16px;
    height: 16px;

    &:hover {
      color: $honey;
    }
  }
}
