@use "../../palette" as *;

.dropdown-btn {
  width: 100%;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A59BD9;
  border-radius: 10px;
  box-shadow: 0px 6px 3.5px -6px rgba(85, 85, 85, 1);
  color: $dark-purple;
  font-size: 19px;
  font-weight: normal;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  .icon {
    margin-top: 4px;
    color: $honey;
    svg {
      width: 17px;
      height: 17px;
    }
  }

  &:focus {
    outline: $honey solid 1px;
  }
}

.open {
  border-radius: 10px 10px 0px 0px;
}

.selected {
  color: $honey;
  background-color: $soft-purple;
}

.dropdown-content {
  width: 100%;
  max-height: 23vh;
  display: flex;
  flex-direction: column;
  background-color: #A59BD9;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 6px 3.5px -6px rgba(85, 85, 85, 1);
  z-index: 1;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $dark-purple;
  font-size: 19px;
}

.dropdown-element {
  padding: 10px;
  color: #FFFFFF;
  font-weight: normal;
  transition: 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $soft-purple;
    color: $honey;
  }
}
