@use "../../palette" as *;

$purple: #8e2de2;

.question-form {
  width: 100%;
  border-bottom: 2px solid #ffffffb8;

  input {
    min-height: 100%;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: 0px 6px 28px -90px rgba(85, 85, 85, 1);
    color: white;
    font-size: 19px;
    font-weight: normal;

    &::placeholder {
      color: $white-purple;
      font-size: 19px;
      font-weight: normal;
    }

    &:focus {
      box-shadow: 0px 7px 5px -60px rgba(77, 77, 77, 0.64);
    }
    &:hover,
    &:active {
      box-shadow: 3px 6px 3.5px -40px rgba(85, 85, 85, 1);
    }
  }

  .question-number {
    min-width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $soft-purple;
    outline: $honey solid 1px;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 450;
  }

  .question-wrapper {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .answer-wrapper {
    margin: 15px 0 5px min(5vw);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .icons-wrapper {
    width: 24vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .icon {
      width: 43px;
      height: 43px;
      padding: 9px;
      background-color: $soft-purple;
      border-radius: 20%;
      color: white;
      cursor: pointer;
      outline: $honey solid 1px;

      &:hover {
        color: $soft-purple;
        background-color: $honey;
        outline: $soft-purple solid 1px;
      }
    }
  }

  .icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-badge {
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: $honey;
      border-radius: 50%;
      top: 0;
      right: 0;
      transform: translate(25%, -25%);
    }
  }

  .points-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    p {
      margin-left: 15px;
      font-size: 17px;
      color: $honey;
      font-weight: normal;
    }

    input {
      width: 70px;
      height: 40px;
      margin-left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 8px;
      text-align: center;
      font-size: 16px;
      font-weight: normal;
    }
  }
}

.add-answer-btn {
  width: auto;
  min-width: auto;
  max-width: fit-content;
  margin-top: 10px;
  padding: 0 0 10px 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  font: 700 14px/1 sans-serif;
  letter-spacing: 0;
  color: white;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  p {
    font-size: 18px;
    font-weight: 400;
    color: white;
  }

  .icon {
    width: 36px;
    height: 36px;
    margin-right: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    color: $honey;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;

    p {
      color: $honey;
      opacity: 1;
    }

    .icon {
      background-color: $honey;
      color: $dark-purple;
      opacity: 1;
    }
  }
}
