$primary-color: #c8c7c7;
$secondary-color: #7b7b7b;
$honey: #ffcc00;
$light-purple: #a59bd9;
$purple: #8e2de2;
$soft-purple: #6a5acd;
$blue-purple: #4a00e0;
$dark-purple: #482E86;

.quest-form__background {
  border-left: 15vw solid #2e165d;
  border-right: 15vw solid #2e165d;
  background: linear-gradient(
    180deg,
    #4d2bbe 0%,
    #5134af 10%,
    #5c2bbf 28%,
    #612bbf 40%,
    #5a27af 59%,
    #491e86 100%
  );
}

.quest-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;

  .hero-section {
    min-width: min(850px, 85%);
    max-width: 80%;
    min-height: 20vh; 
    margin-top: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark-purple;
    border-radius: 40px;
    box-shadow: 0px 6px 3.5px -6px black;
    outline: #b3a4f9 solid 3px;

    h1 {
      max-width: 75%;
      min-width: 200px;
      text-align: center;
      font-size: 36px;
      font-weight: 600;
      color: #dbdbfe;
    }
  }

  &__group {
    min-width: min(850px, 85%);
    margin: 35px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 21px;
      text-transform: none;
    }

    .question-header {
      min-height: 2px;
      border-bottom: 2px solid $secondary-color;
    }

    .header-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 14px;
        font-weight: light;
        color: white;
        opacity: 0.5;
      }

      h3 {
        font-weight: 400;
        font-size: 21px;
        text-transform: none;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 12px 15px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      border-radius: 10px;
      background-color: #a59bd9;
      box-shadow: 0px 6px 3.5px -6px black;
      outline: none;
      transition: 0.2s ease-in-out;
      color: white;
      font-size: 19px;
      font-weight: normal;

      &::placeholder {
        color: $dark-purple;
        font-size: 19px;
        font-weight: normal;
      }
    }

    textarea {
      min-height: 100px;
      resize: none;
    }

    input {
      min-height: 50px;
    }
  }

  .container {
    min-width: min(850px, 85%);
    margin: 45px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h2 {
      font-weight: 400;
      font-size: 21px;
    }
    p {
      font-size: 18px;
      opacity: 0.8;
      font-weight: normal;
    }
    b {
      margin-left: 35px;
      font-weight: normal;
      font-size: 19px;
      color: white;
    }
  }

  .controls {
    margin-right: 35px;
    gap: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input {
      width: 50px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border-radius: 8px;
      border: none;
      text-align: center;
      font-size: 19px;
      font-weight: 600;
      color: white;

      &:focus,
      &:active {
        outline: none;
      }
    }

    button {
      width: 42px;
      height: 42px;
      background: $soft-purple;
      border: none;
      border-radius: 50%;
      box-shadow: 0px 6px 3.5px -6px black;
      color: $honey;
      font-size: 28px;
      font-weight: 500;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $honey;
        color: $soft-purple;
      }
    }
  }

  .toggle-button {
    width: 55px;
    height: 30.3px;
    position: relative;
    background-color: $light-purple;
    border: none;
    border-radius: 14px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;

    .thumb {
      width: 22px;
      height: 22px;
      position: absolute;
      left: 5px;
      top: 50%;
      background-color: #ffffff;
      outline: $soft-purple solid 1.5px;
      border-radius: 50%;
      transition: left 0.2s ease;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: $honey;
      .thumb {
        background-color: white;
        outline: $soft-purple solid 1.5px;
      }
    }

    &.toggled {
      background-color: $honey;
      border-color: $secondary-color;
      outline: none;

      .thumb {
        left: 27.8px;
        background-color: white;
        outline: $soft-purple solid 1.5px;
      }
    }
  }

  .add-question-btn {
    width: auto;
    min-width: auto;
    max-width: fit-content;
    margin-top: 10px;
    padding: 0 15px 0 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    font: 700 19px/1 sans-serif;
    letter-spacing: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2 ease-in-out;

    p {
      font-size: 17px;
      font-weight: 400;
      color: white;
      opacity: 0.5;
    }

    .icon {
      width: 42px;
      height: 42px;
      margin-right: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      opacity: 0.5;
    }

    &:hover {
      color: $honey;
      opacity: 1;
      cursor: pointer;

      p {
        color: $honey;
        opacity: 1;
      }

      .icon {
        background-color: $honey;
        color: $dark-purple;
        opacity: 1;
      }
    }
  }

  .next-btn {
    margin: 20px 20px 40px;
    padding: 10px 20px;
    background-color: $soft-purple;
    border: none;
    border-radius: 15px;
    color: $honey;
    font-size: 19px;
    font-weight: medium;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: $soft-purple;
      background-color: $honey;
    }
  }
}

.image-upload-container {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-badge {
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: $honey;
      border-radius: 50%;
      top: 0;
      right: 0;
      transform: translate(25%, -25%);
    }
  }

  .icon {
    width: 45px;
    height: 45px;
    padding: 9px;
    background-color: $soft-purple;
    border-radius: 20%;
    color: white;
    cursor: pointer;
    outline: $honey solid 1px;

    &:hover {
      color: $soft-purple;
      background-color: $honey;
      outline: $soft-purple solid 1px;
    }
  }

  .image-label {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
  }
}

